.task-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;
    background-color: blanchedalmond;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
}
.task-container:first-child {
    margin-top: 5rem;
}
.task-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: space-around;
}
/* Style the task title */
.task-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* Style the task description */
.task-description {
    font-size: 1rem;
    margin-bottom: 1rem;
}

/* Style the task toggler */
.task-toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.task-toggler input[type="checkbox"] {
    display: none;
}

.task-toggler label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.task-toggler label input {
    opacity: 0;
    width: 0;
    height: 0;
}

.task-toggler label span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: background-color 0.3s;
}

.task-toggler label span:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.task-toggler input:checked + span {
    background-color: lightcoral;
}

.task-toggler input:checked + span:before {
    transform: translateX(26px);
}
    

.task-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
}

.task-buttons button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #ccc;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.task-buttons button:hover {
    background-color: lightcoral;
}

.task-buttons button:active {
    background-color: white;
}
.no-task{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    background-color: blanchedalmond;
    border-radius: 5px;
    margin-top: 5rem;
}

@media screen and (min-width: 768px) {

    .task-description {
        margin-right: 1rem;
    }
}
