<div class="task-container" *ngIf="taskArray.length > 0">
  <div class="task-content" *ngFor="let task of taskArray">
    <h3 class="task-title">{{ task.title }}</h3>
    <p class="task-description">{{ task.description }}</p>
  </div>

  <div class="task-buttons" *ngFor="let task of taskArray">
    <div class="task-toggler">
      <label class="switch">
        <input
          type="checkbox"
          [checked]="task.completed"
          (change)="onToggle(task._id)"
        />
        <span class="slider round"></span>
      </label>
    </div>
    <button class="delete" (click)="onDelete(task._id)">Delete</button>

    <button (click)="onEdit(task._id, task.completed)">Edit</button>
  </div>
</div>
<div *ngIf="taskArray.length === 0" class="no-task">
  No tasks, Create to view
</div>
