<!-- FILEPATH: /Users/Vikash/Desktop/Cashvisory Assignment/Client/src/app/signin/signin.component.html -->

<div class="signin-container">
  <h2>Sign Up</h2>
  <form (ngSubmit)="onSubmit($event)">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="name" id="name" name="name" [(ngModel)]="name" required />
    </div>
    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input
        type="phone"
        id="phone"
        name="phone number"
        [(ngModel)]="phone"
        required
      />
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="email"
        required
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
  <div class="signup-option">
    <p>Already have an account? <a routerLink="/signin">Sign In</a></p>
  </div>
</div>
